<template>
    <div class = "bg-green-100">
      <button class='cursor-pointer px-4 py-2 m-2 bg-blue-400 hover:bg-blue-500 text-white font-bold rounded' @click='mandaHome'>Home</button>
      <div class="flex items-center max-w-4xl h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

        <!--Main Col-->
        <div id="profile" class="w-full lg:w-3/5 bg-white rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl opacity-75 mx-6 lg:mx-0">
          <div class="p-4 md:p-12 text-center lg:text-left">
            <!-- Image for mobile view-->
            <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://source.unsplash.com/MP0IUfwrn0A')"></div>

            <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{ email }}</h1>
            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
            <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">{{ username }}</p>
          </div>
        </div>

        <!--Img Col-->
        <div class="w-full lg:w-2/5">
          <!-- Big profile image for side bar (desktop) -->
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=Eyepatch&facialHairType=BeardMajestic&facialHairColor=Platinum&clotheType=Overall&clotheColor=Heather&eyeType=Squint&eyebrowType=Angry&mouthType=Concerned&skinColor=Brown" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
        </div>
      </div>
    </div>
</template>

<script>
export default {

  data(){
    return {
      email: "",
      username: "",
    }
  },

  async fetch(){
    const jwt = "Bearer " + this.$store.state.jwt
    this.$axios.setHeader('Authorization', jwt, ['get'])
    const id = this.$route.params.id
    try {
      const dados = await this.$axios.get(`/600/users/${id}`)
      if(dados.status !== 304) {
        this.email = dados.data.email
        this.username = dados.data.username
      }else if(dados.status === 403){
        alert("Private resource access: entity must have a reference to the owner id")
        await this.$router.push({ path: `/` })
      }else if(dados.status === 401){
        alert("Cannot read property 'id' of undefined")
        await this.$router.push({ path: `/` })
      }
    }catch(e){
      alert(e)
      await this.$router.push({ path: `/` })
    }
  },

  methods: {
    mandaHome() {
      this.$router.push({path: `/`})
    },
  },
}
</script>

