<template>
  <div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      <nuxt-link to="/sign-up">Sign-Up</nuxt-link>
    </button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      <nuxt-link to="/sign-in">Sign-In</nuxt-link>
    </button>
  </div>
</template>

<script>
export default {}
</script>
