<template>
  <div class="flex items-center justify-center h-screen w-full mx-auto max-w-lg">
    <div class="bg-white shadow-lg rounded px-32 pt-6 pb-8 mb-4">
      <div class="mb-2 w-auto">
        Email
        <input v-model="email"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Email"/>
        <div v-if='!verifyEmail'>Email Inválido {{erro}}</div>
      </div>
      <div class="mb-2 w-auto">
        Password
        <input v-model='password' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Password"/>
        <div v-if='!verifySenha'>Senha Inválida {{erro}}</div>
      </div>
      <div class="mb-2 w-auto">
        Username
        <input v-model='username' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Username"/>
        <div v-if='!verifyUser'>Username Inválido {{erro}}</div>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click="clear">Clear</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click="botaoSignUp">Sign Up</button>
      </div>
      <div class="flex-auto text-center text-gray-500 text-s py-2 hover:underline cursor-pointer">
        <nuxt-link to = "/sign-in">
          Already an user? Sign in now!
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      username: "",
      erro: "",
      formatoInvalidoEmail: true,
      formatoInvalidoSenha: true,
      formatoInvalidoUser: true,
    };
  },

  computed: {
    verifyEmail() {
      const reEmail = /\S+@\S+\.\S+/

      if(this.email.length > 0) {
        if(this.email.match(reEmail)){
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.formatoInvalidoEmail = false
          return true
        }else{
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.erro = ", formato \"abc@def.xyz\""
          return false
        }
      }else{
        return true
      }
    },
    verifySenha() {
      const rePass = /^[a-z0-9]+$/i

      if(this.password.length >= 8 && this.password.length <= 32  ){
        if(this.password.match(rePass)) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.formatoInvalidoSenha = false
          return true
        }else{
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.erro = ", deve ser alfanumérico"
          return false
        }
      }else if(this.password.length === 0){
        return true
      }else{
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.erro = ", tamanho entre 8 e 32"
        return false
      }
    },
    verifyUser() {
      const reUser = /^[a-z0-9]+$/i

      if(this.username.length > 0) {
        if(isNaN(this.username.charAt(0))) {
          // reUser.test(this.username)
          if(this.username.match(reUser)){
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.formatoInvalidoUser = false
            return true
          }else{
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.erro = ", deve ser alfanumérico"
            return false
          }
        }else{
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.erro = ", deve iniciar com caracter"
          return false
        }
      }else{
        return true
      }
    },
  },

  methods: {
    async botaoSignUp(){
      if(!(this.formatoInvalidoEmail) && !(this.formatoInvalidoSenha) && !(this.formatoInvalidoUser)) {
        await this.$store.dispatch('signUp', { email: this.email, password: this.password, username: this.username })
        if(this.$store.state.logged) {
          const id = JSON.parse(atob(this.$store.state.jwt.split(".")[1])).sub
          await this.$router.push({ path: `/users/${id}` })
        }
      }
    },
    clear() {
      this.email = "";
      this.password = "";
      this.username = "";
    },
  },
};
</script>
