<template>
  <div class="flex items-center justify-center h-screen w-full mx-auto max-w-lg">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        Email
        <input v-model='email' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Email">
        <div v-if='!verifyEmail'>Email Inválido {{erro}}</div>
      </div>
      <div class="mb-4">
        Password
        <input v-model='password' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Password">
        <div v-if='!verifySenha'>Senha Inválida {{erro}}</div>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click='clear'>
          Clear
        </button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click='botaoSignIn'>
          Sign In
        </button>
      </div>
      <div class="flex-auto text-center text-gray-500 text-s py-2 hover:underline cursor-pointer">
        <nuxt-link to = "/sign-up">
          Not an user yet? Sign-up now!
        </nuxt-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      erro: "",
      formatoInvalidoEmail: false,
      formatoInvalidoSenha: false,
    };
  },

  computed: {
    verifyEmail() {
      const reEmail = /\S+@\S+\.\S+/

      if(this.email.length > 0) {
        if(reEmail.test(this.email)){
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.formatoInvalidoEmail = false
          return true
        }else{
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.erro = ", formato \"abc@def.xyz\""
          return false
        }
      }else{
        return true
      }
    },
    verifySenha() {
      const rePass = /^[a-z0-9]+$/i

      if(this.password.length >= 8 && this.password.length <= 32  ){
        if(rePass.test(this.password)) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.formatoInvalidoSenha = false
          return true
        }else{
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.erro = ", deve ser alfanumérico"
          return false
        }
      }else if(this.password.length === 0){
        return true
      }else{
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.erro = ", tamanho entre 8 e 32"
        return false
      }
    },
  },

  methods: {
    async botaoSignIn(){
      if(!(this.formatoInvalidoEmail) && !(this.formatoInvalidoSenha)) {
        await this.$store.dispatch('signIn', { email: this.email, password: this.password })
        if(this.$store.state.logged){
          const id = JSON.parse(atob(this.$store.state.jwt.split(".")[1])).sub
          await this.$router.push({ path: `/users/${id}` })
        }
      }
    },
    clear() {
      this.email = "";
      this.password = "";
    },
  },
};
</script>
